@import "_pocket-grid.css";
@import "_pt-sans.css";
@import "_mixins.scss";

$lineHeight: 22px;
$headerLineHeight: $lineHeight * 2;
$halfLineHeight: $lineHeight / 2;
$fontFamilyRegular: PTSansRegular, sans-serif;
$fontFamilyHeader: PTSansNarrowBold, sans-serif;

* {
	font-size: 14px;
	font-family: $fontFamilyRegular;
	line-height: $lineHeight;
	font-weight: normal;
	font-style: normal;
}

body {
	$hexFrom: #FFFFFF;
	$hexTo: #EFEFEF;
	$rgbFrom: rgb(255,255,255);
	$rgbTo: rgb(245, 245, 245);
	background: $rgbFrom;
	background: -moz-radial-gradient(center, ellipse cover, $rgbFrom 0%, $rgbTo 100%);
	background: -webkit-radial-gradient(center, ellipse cover, $rgbFrom 0%,$rgbTo 100%);
	background: radial-gradient(ellipse at center, $rgbFrom 0%,$rgbTo 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$hexFrom', endColorstr='$hexTo', GradientType=1);
}

h1, h2, h3, h4 {
	font-family: $fontFamilyHeader;
	line-height: $headerLineHeight;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2em;
	line-height: 26px;
	margin: 0 0 $lineHeight 0;
	position: relative;
}
h1[data-title]:before {
	content: attr(data-title);
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;

	$outlineColor: rgb(225, 225, 225);
	-webkit-text-stroke: 5px $outlineColor;
	-ms-text-stroke: 5px $outlineColor;
	text-stroke: 5px $outlineColor;
}
h1[data-title]:after {
	content: attr(data-title);
	position: absolute;
	right: 0;
	top: 0;
	z-index: -2;

	$outlineColor: rgb(200, 200, 200);
	-webkit-text-stroke: 7px $outlineColor;
	-ms-text-stroke: 7px $outlineColor;
	text-stroke: 7px $outlineColor;
}

h2, h3, h4 {
	font-size: 20px;
}

p, ul {
	margin: $halfLineHeight 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

dl {
	margin: 1em 0;

	dt {
		font-family: $fontFamilyHeader;
		font-weight: normal;
		font-size: 1.3em;
		margin-bottom: 1em;

		span {
			font-family: $fontFamilyRegular;
			font-size: .85em;
		}
	}

	dd {
		margin-left: 0;
	}
}

code {
	font-family: menlo, monaco, consolas, monospace;
	font-size: .9em;
}

header,
aside {
	text-align: right;
}

address {
	margin-bottom: 0.5em;
}

#buzzwords {
	ul {
		list-style: none inside;
		padding: 0;

		li {
			cursor: help;
			position: relative;
			padding: 0.25em 0;

			&.separator {
				min-height: 18px;
				cursor: default;
			}
		}
	}
}

.fade-in-item-appear {
	opacity: 0.01;

	&.fade-in-item-appear-active {
		opacity: 1;
		transition: opacity .5s ease-in;
	}

	&.fade-in-item-appear-inactive {
		opacity: 0.01;
		transition: opacity .5s ease-in;
	}
}

/* Layout */
#resume {
	display: block;
	position: relative;

	#core {
		section {
			margin: 0 0 25px 0;
		}

		ul {
			list-style: none inside;
			padding: 0;
		}
	}
}

header {
	margin-bottom: 50px;
	.map {
		border: 1px solid rgb(175, 175, 175);
		@include border-radius(6px);
		line-height: 0;
		overflow: hidden;
	}
}

.bl {
	width: 28%;
	&.swap-left {
		position: relative;
		left: -67%;
	}
}

.br {
	width: 67%;
	margin-left: 5%;
	&.swap-right {
		margin-left: 0;
		position: relative;
		left: 33%;
	}
}

.cr {
	margin-bottom: 0;
}

@media screen and (max-width: 590px) {
	header {
		text-align: center;
		h1[data-title]:before,
		h1[data-title]:after {
			width: 100%;
		}
		.map {
			display: none;
		}
	}

	#buzzwords {
		text-align: left;
	}

	.bl, .br {
		width: 98%;
		margin: 10px auto;

		&.swap-left, &.swap-right {
			display: block;
			left: inherit;
		}
	}

	dt {
		margin-top: 1em;
	}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	#resume {
		width: 98%;
		margin: 25px auto;
	}

	dl {
		margin: 0;
	}

	.cl {
		padding: 0 10px;
	}

	.h {
		@include hoverable();
	}
}

@media screen and (min-width: 960px) {
	#resume {
		width: 960px;
		margin: 100px auto;
	}

	.cl {
		width: 20%;
		padding-top: 11px;
	}

	.cr {
		width: 80%;
	}

	.h {
		@include hoverable();
	}

	section:first-child {
		.cl {
			padding-top: 0;
		}
	}
}
