@font-face {
  font-family: "pt_sansregular";
  src: url("../fonts/PT-Sans-fontfacekit/PTS55F-webfont.woff");
  src: url("../fonts/PT-Sans-fontfacekit/PTS55F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "pt_sansbold";
  src: url("../fonts/PT-Sans-fontfacekit/PTS75F-webfont.woff");
  src: url("../fonts/PT-Sans-fontfacekit/PTS75F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "pt_sansbold_italic";
  src: url("../fonts/PT-Sans-fontfacekit/PTS76F-webfont.woff");
  src: url("../fonts/PT-Sans-fontfacekit/PTS76F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "pt_sansitalic";
  src: url("../fonts/PT-Sans-fontfacekit/PTS56F-webfont.woff");
  src: url("../fonts/PT-Sans-fontfacekit/PTS56F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "EncodeSansBlack";
  src: url("../fonts/encode-sans-black/encodesans-black-webfont.woff");
  src: url("../fonts/encode-sans-black/encodesans-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}