@import "./mixins";

body {

  #main {
    width: min(1160px, 100% - 4rem);
    margin-inline: auto;
    padding: 2% 0 2% 0;
    height: calc(100vh - 10px);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-auto-rows: min-content;
    gap: 4em 50px;

    header {
      grid-column: 2 / -1;
    }

    aside {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .content {
      grid-column: 2/ 2;
    }

    footer {
      grid-column: 1 / -1;
    }
  }

  @include media(md-screen, print) {
    #main {
      padding: 2rem;

      grid-template-columns: 100%;
      grid-template-rows: auto;
      gap: 0;

      > * {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
      }
    }
  }
}
