@media print {
  :root {
    --font-size: 12px !important;
    --line-height: 1.5em !important;
  }

  body {
    a, a:visited {
      color: black;
    }

    #main {
      display: block;
      width: auto;
      padding: 1em 2em;
      margin: 0;
    }

    header {
      h2 {
        font-size: 2em;
      }

      p.adr {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
      }
    }
  
    section,
    aside {
      h2 {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    section {
      h2:first-of-type {
        break-after: avoid;
      }

      dl {
        break-before: avoid;
        
        dt {
          break-after: avoid-page;
        }
        dd {
          break-inside: avoid-page;
        }
      }

    }
  
    aside {
      break-inside: avoid-page;
      
      .bubble {
        color: darkgray;
      }
    }

    footer {
      .theme-button {
        display: none;
      }
      .printed-from {
        display: revert !important;
      }
    }
  }
}