@media print {
  :root {
    --font-size: 12px !important;
    --line-height: 1.5em !important;
  }

  body {
    a, a:visited {
      color: black;
    }

    nav {
      display: none !important;
    }

    main {
      display: block;
      width: auto;
      padding: 1em 3em;
      margin: 0;

      h2 {
        font-size: 1.5rem;
      }

      h3 + h4 {
        margin-top: 0.5em !important;
      }

      #content {
        margin-top: 3rem;
      }
    }

    header {
      h2 {
        font-size: 1.85rem !important;
      }

      p.adr {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
        margin-bottom: 0;
      }
    }

    footer {
      width: auto;
      padding: 0;

      .theme-button {
        display: none;
      }
      .printed-from {
        display: revert !important;
      }
    }
  
    section,
    aside {
      h2 {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    section {
      h2:first-of-type {
        break-after: avoid;
      }

      dl {
        break-before: avoid;
        
        dt {
          break-after: avoid-page;
        }
        dd {
          break-inside: avoid-page;
        }
      }

    }

    section:not(.me) {
      ul {
        li {
          line-height: 1.20rem !important;
          margin-block: 0 !important;
        }
      }
    }
  
    aside {
      break-inside: avoid-page;
      
      .bubble {
        color: darkgray;
      }
    }

    hr {
      display: none !important;
    }
  }

  body:has(.cover-letter) {
    footer {
      display: none;
    }
  }
}