:root {
  color-scheme: light dark;
}

::view-transition-group(root) {
  animation-duration: 0.5s;
}

body {
  --text-color: #151515;
  --text-color-headline: #000;
  --text-color-dark-gray: #444444;
  --background-color: #fff;

  --background-color-bubble: var(--background-color);
  --border-color-bubble: rgb(50, 50, 50);
  --shadow-color-bubble: rgb(110, 110, 110);

  --accent-color: initial; /* TODO */

  --color-light-orange: #f0bc5c;
  --color-orange: #cd8500;
  --color-medium-orange: #a46b00;
  --color-dark-orange: #613f00;

  --link-color: var(--color-medium-orange);
  --link-color-visited: var(--color-medium-orange);
}

body.dark {
  --text-color: #f0f0f0;
  --text-color-headline: #fff;
  --text-color-dark-gray: #DDD;
  --background-color: #303030;

  --background-color-bubble: var(--background-color);
  --border-color-bubble: rgb(205, 205, 205);
  --shadow-color-bubble: rgb(0, 0, 0);

  --link-color: var(--color-light-orange);
  --link-color-visited: var(--color-light-orange);
}
