:root {
  color-scheme: light dark;
}

body {
  --text-color: #000;    
  --background-color: #fff;

  --background-color-bubble: var(--background-color);
  --border-color-bubble: rgb(50, 50, 50);
  --shadow-color-bubble: rgb(110, 110, 110);

  --accent-color: initial; /* TODO */

  --link-color: blue;
  --link-color-visited: blue;

  --color-orange: #cd8500;
  --color-dark-orange: #613f00;
}

body.dark {
  --text-color: #f5f5f5;
  --background-color: #282828;

  --background-color-bubble: var(--background-color);
  --border-color-bubble: rgb(205, 205, 205);
  --shadow-color-bubble: rgb(0, 0, 0);

  --link-color: lightblue;
  --link-color-visited: lightblue;
}