:root {
  color-scheme: light dark;
}

body {
  --text-color: #000;    
  --background-color: #fff;
  --background-color-bubble: #f5f5f5;

  --accent-color: initial; /* TODO */

  --link-color: blue;
  --link-color-visited: blue;

  --color-orange: #cd8500;
  --color-dark-orange: #613f00;
}

body.dark {
  --text-color: #f5f5f5;
  --background-color: #282828;
  --background-color-bubble: #181818;

  --link-color: lightblue;
  --link-color-visited: lightblue;
}