.mb {
  &-0 {
    margin-bottom: 0;
  }
}

.va {
  &-baseline {
    vertical-align: baseline;
  }
  &-middle {
    vertical-align: middle;
  }
}

.flex {
  display: flex;

  &-1 {
    flex: 1;
  }

  &-inline {
    display: inline-flex;
  }

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;

    &-reverse {
      flex-direction: row-reverse;
    }
  }

  &-grow {
    $grows: 1, 2, 3;
    @each $grow in $grows {
      &-#{$grow} {
        flex-grow: #{$grow}
      }
    }
  }

  &-wrap {
    &-wrap {
      flex-wrap: wrap;
    }

    &-nowrap {
      flex-wrap: nowrap;
    }

    &-reverse {
      flex-wrap: wrap-reverse;
    }
  }

  &-gap {
    &-half {
      gap: 0.5em;
    }

    &-quarter {
      gap: 0.25em;
    }

    $gaps: 1, 2, 3, 4;
    @each $gap in $gaps {
      &-#{$gap} {
        gap: #{$gap}em;
      }
    }
  }
}

.justify-content {
  $justifications: start, end, space-between, center;

  @each $justification in $justifications {
    &-#{$justification} {
      justify-content: #{$justification};
    }
  }
}

.align-items {
  $alignments: baseline, center, flex-start, flex-end;

  @each $alignment in $alignments {
    &-#{$alignment} {
      align-items: #{$alignment};
    }
  }
}

.printed-from {
  display: none;
}

.preserve-scrollbar-space {
  // Prevent layout shift when no scrollbar is present:
  // - While in a container that DOES NOT use `vw` for width
  // - While scrollbar IS NOT visible `100vw` & `100%` are equal.
  // - While scrollbar IS visible the difference is the width 
  //   of the scrollbar
  padding-left: calc(100vw - 100%);
}

body {
  ul.hanging {
    list-style: disc outside;
    padding-left: 0;
  }
}
