@import '../../styles/_mixins.scss';

$exposeDuration: 0.15s;
$hideDuration: 1s;

$bubbleWidth: 250px;
$bubbleRight: 0 - $bubbleWidth - 42;

$bubbleWidthSmall: 50%;
$bubbleRightSmall: -10px;

$bubbleShadow: rgb(221, 221, 221);
$bubbleBorderColor: rgb(225, 225, 225);
$bubbleBackgroundColor: rgb(253, 253, 253);
$borderRadius: 10px;
$borderRadiusSmall: 7px;

$beforeBorderTop: 11.5px;
$beforeBorderRight: 11.5px;
$beforeBorderBottom: 11.5px;
$beforeBorderLeft: 0;
$beforeTop: 13.5px;
$beforeLeft: $beforeBorderLeft - $beforeBorderRight; /* value = - border-left-width - border-right-width */

$afterBorderTop: 10px;
$afterBorderRight: 10px;
$afterBorderBottom: 10px;
$afterBorderLeft: 0px;
$afterTop: $beforeTop + $beforeBorderTop - $afterBorderTop; /* value = (:before top) + (:before border-top) - (:after border-top) */
$afterLeft: $afterBorderLeft - $afterBorderRight; /* value = - border-left-width - border-right-width */

.bubble-before-after {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	bottom: auto;
}

.bubble {
	opacity: 0;
	border: 1px solid $bubbleBorderColor;
	padding: 10px 10px 10px 14px;
	position: absolute;
	right: -5000px;
	top: -12px;
	width: $bubbleWidth;
	background: $bubbleBackgroundColor;
	text-align: left;
	line-height: 18px;
	z-index: 10;

	@include border-radius($borderRadiusSmall);

	-moz-box-shadow: 1px 1px 8px $bubbleShadow;
	-webkit-box-shadow: 1px 1px 8px $bubbleShadow;
	box-shadow: 1px 1px 8px $bubbleShadow;

	-webkit-transition: opacity $hideDuration ease-in;
	-moz-transition: opacity $hideDuration ease-in;
	transition: opacity $hideDuration ease-in;

	&:before {
		@extend .bubble-before-after;
		top: $beforeTop;
		left: $beforeLeft;
		border-width: $beforeBorderTop $beforeBorderRight $beforeBorderBottom $beforeBorderLeft;
		border-color: transparent $bubbleBorderColor;
		z-index: 9;
	}

	&:after {
		@extend .bubble-before-after;
		top: $afterTop;
		left: $afterLeft;
		border-width: $afterBorderTop $afterBorderRight $afterBorderBottom $afterBorderLeft;
		border-color: transparent $bubbleBackgroundColor;
		z-index: 11;
	}
}

.bubbles li:hover .bubble {
	right: $bubbleRight;
	opacity: 1;
	-webkit-transition: opacity $exposeDuration ease-in;
	-moz-transition: opacity $exposeDuration ease-in;
	transition: opacity $exposeDuration ease-in;
}

@media screen and (max-width: 590px) {
	.bubble {
		width: $bubbleWidthSmall;
	}
	.bubbles li:hover .bubble {
		right: $bubbleRightSmall;
	}
}
// right -10, width 125px
