@use "./style/layout";
@use "./style/utility";
@use "./style/theme";
@use "./style/print";
@use "./style/mixins";

:root {
  --font-size: 17px;
  --line-height: 1.85rem;
  --header-font: system-ui, sans-serif;
  --body-font: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

::selection {
  background: var(--color-orange);
  color: #fff;
  text-shadow: 1px 1px 3px var(--color-dark-orange);
}

* {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums stacked-fractions;
  text-underline-offset: 0.13em;
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.125s;
}

a {
  cursor: pointer;
  color: var(--link-color);
  text-underline-offset: 0.13em;

  &:hover {
    text-underline-offset: 0.3em;
  }
  &:visited {
    color: var(--link-color-visited);
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  font-variant-ligatures: common-ligatures;
  font-weight: 900;
  text-wrap: balance;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-block: 0.75em;
  hanging-punctuation: first allow-end last;
  orphans: 3;
  text-wrap: pretty;
}

.content {
  @include mixins.media(md-screen, print) {
    margin: 5em 0 0 0;
  }

  ul {
    padding-left: 1.5em;

    li {
      line-height: 1.3;
    }
  }

  .current,
  .history {
    dd {
      ul {
        list-style: none;
        margin-block: 0.75em;
        padding-left: 0;
        li {
          line-height: var(--line-height);
          &::before {
            content: "\2022";
            color: gray;
            display: inline-block;
            width: 1em;
            margin-left: -0.9em;
            font-weight: bold;
            font-size: 1.1rem;
        }
        }
      }
    }
  }
}

aside {
  ul {
    list-style: none inside;
    padding: 0;

    li {
      padding: 0.25em 0;
    }
  }

  .bubbles {
    .icon {
      margin-right: 1em;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
